EventbriteChallenge.xcodeproj/project.xcworkspace/contents.xcworkspacedata
EventbriteChallenge.xcodeproj/project.xcworkspace/xcuserdata/esp.xcuserdatad/UserInterfaceState.xcuserstate
EventbriteChallenge.xcodeproj/xcuserdata/esp.xcuserdatad/xcschemes/EventbriteChallenge.xcscheme
EventbriteChallenge.xcodeproj/xcuserdata/esp.xcuserdatad/xcschemes/xcschememanagement.plist
EventbriteChallenge.xcodeproj/project.xcworkspace/xcuserdata/esp.xcuserdatad/WorkspaceSettings.xcsettings
EventbriteChallenge.xcodeproj/xcuserdata/esp.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
